[submodule "eventgem/external/backbone"]
	path = eventgem/external/backbone
	url = https://github.com/AdamDHines/Event-Camera-Data-Pre-training.git
[submodule "eventgem/external/superevent"]
	path = eventgem/external/superevent
	url = https://github.com/ethz-mrl/SuperEvent.git
[submodule "eventgem/external/eventlab"]
	path = eventgem/external/eventlab
	url = https://github.com/EventLAB-Team/Event-LAB.git
	branch = main
[submodule "eventgem/external/vprtutorial"]
	path = eventgem/external/vprtutorial
	url = https://github.com/stschubert/VPR_Tutorial.git
[submodule "eventgem/external/depthanyevent"]
	path = eventgem/external/depthanyevent
	url = https://github.com/bartn8/depthanyevent.git
[submodule "external/eventlab"]
	branch = 0.1.1
